@import url("global.css");
@import url("composants/menu-principale.css");
@import url("composants/pied-de-page.css");


.catalogue {
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin: 15px;
}




/**
 La barre de filtres
*/

.filtres {
    min-width: 200px;
    margin-right: 15px;
    background-color: rgba(255,255,255,0.5);
}

.btn-filtres {
    position: absolute;
    display: none;
    left: 10px;
    padding: 20px;
    z-index: 2;
    border-radius: 50%;
    border: 2px solid var(--color__dark-vin);
}
@media screen and (max-width: 700px) {
    .filtres {
        position: absolute;
        left: 0;
        z-index: 5;
        transform: translateX(-100%);
    }
    .catalogue,
    .btn-filtres {
        display: block;
    }

}

.filtres>* {
    min-height: 80px;
    max-lines: 5;
}

.filtres p {
    margin: 10px 15px;
}
.filtres [type='checkbox'] {
    margin-right: 10px;
    transform: scale(1.4);
}

.filtres h3 {
    background-color: var(--color__dark-vin);
    text-align: center;
    padding: 15px;
    font-size: 3vmin;
    font-family: var(--titre__font-family);
}

.filtres .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vmin;
    font-size: 25px;
}

.filtres .content input{
    width:50%;
    font-size: 18px;
}

.filtres .content i {
    padding: 2px;
    font-size: 25px;
}

.filtres .content-recherche {
    position: relative;
    justify-content: center;
    padding: 2vmin;
    align-items: center;
}
.filtres .content-recherche i {
    position: absolute;
    right: 2vmin;
    padding: 4px 8px;
    font-size: 25px;
    top: 2vmin;
    background-color: rgba(0, 0, 0, 0.9);
}

#recherche {
    width: 100%;
    font-size: 25px;
}


/**
Catalogue des cartes dans la grille
*/

.grille {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 15px;

    align-content: start;
}

.grille > .carte {
    position: relative;
    max-height: 200px;
    aspect-ratio: 3 / 2;
    color: black;
    border: 1px solid var(--color__vin);
}

@media screen and (max-width: 700px) {
    .grille {
        align-items: center;
    }

    .grille > .carte {
        justify-self: center;
    }
}

.carte img {
    width: 100%;
    height: 100px;
    padding-bottom: 0px;
    object-position: 0 0;
    object-fit: cover;
}

.carte header {
    display: inline-block;
    width: calc(100%-30px);
    background-color: var(--color__white-ligth);
    padding: 15px;
}

.carte header > div {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.carte header button {
    padding: 0 15px;
    border: 1px solid var(--color__dark-vin);
}

.title {
    font-family: var(--titre__font-family);
}